.card_container_teacher {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card_teacher {
    width: 296px;
    height: 392px;
    background: #FFFFFF;

    display: flex;
    flex-direction: column;
}

.card_container_teacher > .card_teacher:first-child, .card_container_teacher > .card_teacher:nth-child(2), .card_container_teacher > .card_teacher:nth-child(3) {
    margin-right: 16px;
}

.card_link_teacher {
    width: 296px;
    height: 392px;
    text-decoration: none;
}

.card_name {

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #000000;
    margin: 8px 0px;
}

.card_skill {

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;

}
a.card_link_teacher:hover {
    text-decoration: underline;
}
