.card_container_teacher {
    display: flex;
    margin-top: 10px;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 1248px;
}

.text_filter {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 64px;
    font-family: 'Gilroy', sans-serif;
    /* identical to box height, or 178% */
    margin-left: 135px;
    display: flex;
    align-items: center;
}

.card_center {
    margin-left: 135px;
}

.card_teacher {
    width: 296px;
    height: 392px;
    background: #FFFFFF;
    margin-right: 16px;
    flex-direction: column;
    display: flex;

}

.card_name {

    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;

    display: flex;
    align-items: center;

    color: #000000;
    margin: 8px 0px;
}

.card_skill {

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;

}
a.card_link_teacher:hover {
    text-decoration: underline;
}
