.button_row {

}

.card_blog {
    width: 400px;
    height: 320px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-right: 16px;
}

.card_container_blog {
    display: flex;
    margin-top: 15px;
    margin-left: 150px;
    justify-content: left;
    flex-wrap: wrap;
    max-width: 1248px;
}

.card_skill {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #131313;

    margin: 8px 0px;
}

.card_desc {
    font-family: 'Gilroy', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    color: #000000;
    margin: 8px 0px;
}

.card_link_blog {
    width: 400px;
    height: 320px;
    text-decoration: none;
    margin-right: 16px;
    margin-bottom: 50px;
}

a.card_link_blog:hover {
    text-decoration: underline;
}

.button_find {
    margin-left: 12px;
    padding: 0px 64px;

    width: 220px;
    height: 35px;
    font-size: 20px;
    background: #FFFFFF;
    border: 1px solid #6C63FF;
    color: #6C63FF;
    border-radius: 28px;
}

.button_find:hover {
    background: #6C63FF;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}